body {
    font-family: "Montserrat", sans-serif;  /* 글꼴 설정 */
    margin: 1rem;
}

.member-save {
    padding-top: 1rem;
}

.member-title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #0e4f1f;
}

.member-form {
    padding: 1rem;
}

.member-form label{
    font-weight: bold;
}

.member-form input{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.member-form input:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

/***********************************
* 버튼 설정하기
 ***********************************/
.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.member-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .member-form {
        width: 25rem;
        margin: 0 auto;
    }
}